.standard {
  font-family: 'republika', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: aliceblue;
}

.standard-box {
  font-family: 'republika', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: aliceblue;
  display: 'flex';
  height: '30vh';
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: 'blur(10px)';
  margin-top: '5vh';
  margin-bottom: '5vh';
  margin-left: '15vh';
  margin-right: '15vh';
}

.standard-inner-window {
  font-family: 'republika', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: aliceblue;
  display: 'flex';
  height: '30vh';
  background-image: linear-gradient(
    to bottom right,
    rgba(30, 13, 46, 0.829),
    rgba(38, 11, 46, 0.582)
  );
  backdrop-filter: 'blur(10px)';
  margin-top: 0.5vh;
  border: 0.3vh solid #97b690;
}

.standard-outer-window {
  font-family: 'republika', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: aliceblue;
  background-color: #97b69055;
  backdrop-filter: 'blur(10px)';
  padding-top: 3vh;
  padding-bottom: 3.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border: 0.3vh solid #97b690;
}

@font-face {
  font-family: 'republika';
  src: url(../fonts/R4EXPUI_.ttf) format('truetype');
}

a.inTextLink {
  color: white !important;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.flex {
  justify-content: flex-end;
}
