.standard {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: aliceblue;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.flex {
  justify-content: flex-end;
}
