.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listContainer {
  font-family: 'republika';
  color: white !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: 'blur(10px)';
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
}

.listFont {
  color: white;
  font-family: 'republika';
  font-size: larger !important;
}
