.spotify-button {
  background-color: #97b690 !important;
  color: white !important;
  border-radius: 888;
  padding-left: 2;
  padding-right: 2;
  padding-top: 1;
  padding-bottom: 1;
  width: 20%;
}

.spotify-button:hover {
  color: black !important;
  background-color: #ffffff !important;
}

.basic-button {
  color: white !important;
  background-color: #97b690 !important;
}

.basic-button:hover {
  color: black !important;
  background-color: #ffffff !important;
}
.sticky-header {
  position: sticky;
  padding-top: 6vh;
  padding-bottom: 1vh;
  top: 0;
  z-index: 999;
  background: rgb(15, 8, 26) !important;
}
.basic-field {
  background-color: #97b69065;
}

.MuiFormLabel-root.Mui-focused {
  color: white !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
